.App {
  text-align: center;
}

.App-header {
  background-color: #ad95e48e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0;
  width: 50vw;
}

.TextField {
  width: 46vw;
  border: none;
  margin: 0;
  text-align: right;
  padding: 2vh 2vw 2vh 2vw;
  font-size: 24px;
  border-bottom: 2px solid #ad95e48e;
}

.TextField:focus {
  outline: none;
}

.ButtonsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  padding: 2vw;
}

.Button {
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 3px;
}

